@{
    ViewData["Title"] = "Data Pengguna";
}

@section styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
}

<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            <li class="breadcrumb-item active">Data Pengguna</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Data Pengguna</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="d-flex flex-wrap align-items-center">
                                    <label for="length-user-table" class="me-2">Show</label>
                                    <div class="me-2">
                                        <select class="form-select form-select-sm rounded-pill my-1 my-lg-0"
                                            id="length-user-table">
                                            <option selected>10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="-1">All</option>
                                        </select>
                                    </div>
                                    <label for="length-user-table" class="me-3">Entries</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex flex-wrap align-items-center float-end">
                                    <form class="search-bar form-inline me-3">
                                        <div class="position-relative">
                                            <input type="text" class="form-control" placeholder="Search..."
                                                id="search-user-table">
                                            <span class="mdi mdi-magnify"></span>
                                        </div>
                                    </form>
                                    <div class="text-lg-end">
                                        <button type="button" class="btn btn-blue rounded-pill" data-id=""
                                            onclick="createEditUser(this, event)">
                                            <i class="fe-user-plus me-1"></i> Tambah Pengguna
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-sm table-centered table-hover mb-0 table-custom w-100"
                                id="table-user">
                                <thead>
                                    <tr>
                                        <th class="text-center">No.</th>
                                        <th>Username</th>
                                        <th>Nama Pengguna</th>
                                        <th>Email</th>
                                        <th>No. Handphone</th>
                                        <th>Login Terakhir</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>

    </div> <!-- container -->

</div> <!-- content -->

<!-- Modal Create Edit -->
<div id="modalCreateEditUser" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalLabelUser" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

        </div>
    </div>
</div><!-- /.modal -->

@section scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/js/pages/user.min.js"></script>
}