@model IrigasiManganti.Models.DebitHulu;

<form id="form-user" class="parsley-validation px-2" method="POST" onsubmit="updateHulu(this,event)">
    <div class="modal-header">
        <h4 class="modal-title" id="pengamat-modalLabel">Edit Debit</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" id="edit_id" asp-for="Id">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="mb-3">
                    <label for="Tanggal" class="form-label">Tanggal</label>
                    <input class="form-control" placeholder="Tanggal" autocomplete="off" value="@Model.Tanggal?.ToString("d MMMM yyyy")" readonly>
                </div>
                <div class="mb-3">
                    <label for="Nilai" class="form-label">Nilai <span class="text-danger">*</span></label>
                    <input type="text" step="0.01" class="form-control" data-parsley-required-message="Nilai wajib diisi." placeholder="Nilai" required="" autocomplete="off" readonly="true" asp-for="Nilai" id="edit_Nilai" name="Nilai">
                </div>

                <div class="mb-3">
                    <label for="Satuan" class="form-label">Satuan <span class="text-danger">*</span></label>
                    <input class="form-control" data-parsley-required-message="Satuan wajib diisi." placeholder="Satuan" required="" autocomplete="off" asp-for="Satuan" id="edit_Satuan" name="Satuan">
                </div>
                 <div class="mb-3">
                    <label for="NilaiSidareja" class="form-label">Sidareja<span class="text-danger">*</span></label>
                    <input type="number" step="0.01" class="form-control" onchange="calculate()" data-parsley-required-message="Nilai wajib diisi." placeholder="Nilai Sidareja" required="" autocomplete="off" asp-for="NilaiSidareja" id="edit_sidareja" name="NilaiSidareja">
                </div>
                <div class="mb-3">
                    <label for="NilaiCihaur" class="form-label">Cihaur<span class="text-danger">*</span></label>
                    <input type="number" step="0.01" class="form-control" onchange="calculate()" data-parsley-required-message="Nilai wajib diisi." placeholder="Nilai Cihaur" required="" autocomplete="off" asp-for="NilaiCihaur" id="edit_cihaur" name="NilaiCihaur">
                </div>
                <div class="mb-3">
                    <label for="NilaiLakbok" class="form-label">Lakbok<span class="text-danger">*</span></label>
                    <input type="number" step="0.01" class="form-control" onchange="calculate()" data-parsley-required-message="Nilai wajib diisi." placeholder="Nilai Lakbok" required="" autocomplete="off" asp-for="NilaiLakbok" id="edit_lakbok" name="NilaiLakbok">
                </div>
            </div>
        </div>
        <div class="modal-footer p-0">
            <button type="button" class="btn btn-soft-danger waves-effect" data-bs-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary px-3 m-0">Simpan</button>
        </div>
    </div>
</form>


<script>
    $('.parsley-validation').parsley();
    
function calculate() {

    let Id = document.getElementById('edit_id').value;
    console.log("==========")
    let nilai_sidareja = 0;
    let nilai_cihaur = 0;
    let nilai_lakbok = 0;

    nilai_sidareja = (document.getElementById('edit_sidareja').value) ? document.getElementById('edit_sidareja').value : 0;
    nilai_cihaur = (document.getElementById('edit_cihaur').value) ? document.getElementById('edit_cihaur').value : 0;
    nilai_lakbok = (document.getElementById('edit_lakbok').value) ? document.getElementById('edit_lakbok').value : 0;
    var total =  + parseFloat(nilai_sidareja) + parseFloat(nilai_cihaur) + parseFloat(nilai_lakbok);
    document.getElementById('edit_Nilai').value = parseFloat(total).toFixed(2);
    console.log(Id, total, nilai_sidareja, nilai_cihaur, nilai_lakbok)
    $('#edit_Nilai').val(total);
}

</script>