@model IrigasiManganti.Models.DebitPengambilan;

<form id="form-user" class="parsley-validation px-2" method="POST" onsubmit="updatePengambilan(this,event)">
    <div class="modal-header">
        <h4 class="modal-title" id="pengamat-modalLabel">Edit Debit</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="Id">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="mb-3">
                    <label for="Tanggal" class="form-label">Tanggal</label>
                    <input class="form-control" placeholder="Tanggal" autocomplete="off" value="@Model.Tanggal?.ToString("d MMMM yyyy")" asp-formaction="Tanggal" id="Tanggal" readonly>
                </div>
                <div class="mb-3">
                    <label for="Nilai" class="form-label">Nilai <span class="text-danger">*</span></label>
                    <input type="number" step="0.01" class="form-control" data-parsley-required-message="Nilai wajib diisi." placeholder="Nilai" required="" autocomplete="off" asp-for="Nilai" id="Nilai">
                </div>

                <div class="mb-3">
                    <label for="Satuan" class="form-label">Satuan <span class="text-danger">*</span></label>
                    <input class="form-control" data-parsley-required-message="Satuan wajib diisi." placeholder="Satuan" required="" autocomplete="off" asp-for="Satuan" id="Satuan">
                </div>
            </div>
        </div>
        <div class="modal-footer p-0">
            <button type="button" class="btn btn-soft-danger waves-effect" data-bs-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary px-3 m-0" id="btnUpdate">Simpan</button>
        </div>
    </div>
</form>


<script>
    $('.parsley-validation').parsley();
</script>