@{
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
    ViewData["Title"] = "Lakbok Tabulasi";
}

@section styles {
    <link href="~/lib/c3/c3.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" type="text/css">
    <link href="~/lib/mapbox-gl/mapbox-gl.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.css" integrity="sha512-aiVWmB2G8oV+XfHo1CR6hEAxzCl48Lrl3UBzQ6P+BEMkT8qY1tGecdQx6x/X8i9cCVrwQU9ipsOsZlNkRh9n7w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/owl.carousel2/assets/owl.carousel.min.css">
    <link href="~/lib/owl.carousel2/assets/owl.theme.green.min.css">
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/animate.css/animate.compat.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap">
    <link href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <style>
        .text-muted {
            color: white !important;
        }

        thead {
            background-color: #065fd4 !important;
            color: white !important;
        }

        .dataTables_filter input {
            margin-bottom: 10px; /* Adjust the margin as needed */
        }
    </style>
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="page-title">PEMBAGIAN AIR</h3>
                <div class="page-title-box">
                    <h3 class="page-title">Data Tabulasi Lakbok</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-centered table-hover mb-0 table-custom w-100" id="table-tabulasi">
                                <thead>
                                    <tr>
                                        <th class="text-center" sytle="width=100%;">Description</th>
                                        <th class="text-center">Kebutuhan<small class="text-muted">(m<sup>3</sup>/s)</small></th>
                                        @foreach (var date in Enumerable.Range(0, (new DateTime(2024, 6, 30) - new DateTime(2024, 5, 30)).Days + 1)
                                            .Select(offset => new DateTime(2024, 5, 30).AddDays(offset)))
                                        {
                                            <th>@date.ToString("dd/MM/yyyy")
                                                <small class="text-muted">(m<sup>3</sup>/s)</small></th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>BBR.0</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                        <td>0,157</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.1</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                        <td>0,099</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.2</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                        <td>0,071</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.3</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                        <td>0,06</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.4</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                        <td>0,175</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.5</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                        <td>0,168</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.6</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                        <td>0,102</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.7</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                        <td>0,045</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.8</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                        <td>0,131</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.9</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                        <td>0,249</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.10</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                        <td>0,008</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.11</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                        <td>0,036</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.12</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                        <td>0,174</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.13</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                        <td>0,092</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.14</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                        <td>0,232</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.15</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                    </tr>
                                    <tr>
                                        <td>BBR.16</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                        <td>0,204</td>
                                    </tr>
                                    </tr>
                                        <td>BBR.17</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                        <td>0,222</td>
                                    </tr>
                                    </tr>
                                        <td>BBR.18</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                        <td>0,202</td>
                                    </tr>
                                    </tr>
                                        <td>BBR.19</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                    </tr>
                                    </tr>
                                        <td>BBR.20</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                        <td>0,287</td>
                                    </tr>
                                    </tr>
                                        <td>BBR.21</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                        <td>0,211</td>
                                    </tr>
                                    </tr>
                                        <td>BBR.22</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                        <td>1,186</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.0</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.1</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                        <td>0,082</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.2</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                        <td>0,148</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.3</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                        <td>0,151</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.4</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.5</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                        <td>0,019</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.6</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                        <td>0,165</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.7</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                        <td>0,227</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.8</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                        <td>0,206</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.9</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                        <td>0,179</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.10</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.11</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                        <td>0,167</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.12</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                        <td>0,17</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.13</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                        <td>0,124</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.14</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                        <td>0,057</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.15</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                        <td>0,181</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.16</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.17</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                    </tr>
                                    </tr>
                                        <td>BBL.18</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                        <td>0,221</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/mapbox-gl/mapbox-gl.js"></script>
    <script src="~/lib/mapbox-gl-leaflet/leaflet-mapbox-gl.js"></script>
    <script src="~/lib/leaflet-switch-basemap/src/main.eb127ecea7b7559c70ac.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.js" integrity="sha512-Tndo4y/YJooD/mGXS9D6F1YyBcSyrWnnSWQ5Z9IcKt6bljicjyka9qcP99qMFbQ5+omfOtwwIapv1DjBCZcTJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/owl.carousel2/owl.carousel.min.js"></script>
    <script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
}

@section additionalScripts {
    <script>
        $(document).ready(function() {
            $('#table-tabulasi').DataTable({
                "order": [] // Disable default sorting
            });
        });
    </script>
}