@{
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
    ViewData["Title"] = "Model AI";
}

<div class="row ">
    <div class="col-10 mx-auto">
        <iframe class="pdf" src="~/documents/Model AI.pdf" width="100%" height="800"></iframe>
    </div>
</div>