@model IrigasiManganti.Models.MasterPetak;

<style>
    .select2-selection__clear {
        display: none !important;
    }
</style>
<form id="form-user" class="parsley-validation px-2" method="POST" onsubmit="savePetak(this,event)">
    <div class="modal-header">
        @if (Model.Id == Guid.Empty)
        {
            <h4 class="modal-title" id="pengamat-modalLabel">Tambah Petak</h4>
        }
        else
        {
            <h4 class="modal-title" id="pengamat-modalLabel">Edit Petak</h4>
        }

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="Id">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="mb-3">
                    <label for="NamaPetak" class="form-label">Nama Petak <span class="text-danger">*</span></label>
                    <input class="form-control" data-parsley-required-message="Nama Petak Lengkap wajib diisi."
                        placeholder="Nama Petak" required="" autocomplete="off" asp-for="NamaPetak">
                </div>

                <div class="mb-3">
                    <label for="JenisBangunan" class="form-label">Jenis Bangunan <span class="text-danger">*</span></label>
                    <input class="form-control" data-parsley-required-message="Jenis Bangunan wajib diisi." placeholder="Jenis Bangunan"
                        required="" autocomplete="off" asp-for="JenisBangunan">
                </div>

                <div class="mb-3">
                    <label for="Luas" class="form-label">Luas <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" data-parsley-required-message="Luas wajib diisi."
                        placeholder="Luas" required="" autocomplete="off" asp-for="Luas">
                </div>

                <div class="mb-3">
                    <label for="DebitKebutuhan" class="form-label">Debit Kebutuhan <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" data-parsley-required-message="Debit Kebutuhan wajib diisi."
                        placeholder="Debit Kebutuhan" required="" autocomplete="off" asp-for="DebitKebutuhan">
                </div>

                <div class="mb-3">
                    <label for="Location" class="form-label">Lokasi </label>
                    <input type="text" class="form-control" placeholder="Lokasi"
                        autocomplete="off" asp-for="Location">
                </div>
            </div>
        </div>
        <div class="modal-footer p-0">
            <button type="button" class="btn btn-soft-danger waves-effect" data-bs-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary px-3 m-0">Simpan</button>
        </div>
    </div>
</form>


<script>

    $('.parsley-validation').parsley();
    $('.selectize').selectize();
    $("[data-password]").on('click', function () {
        if ($(this).attr('data-password') == "false") {
            $(this).siblings("input").attr("type", "text");
            $(this).attr('data-password', 'true');
            $(this).addClass("show-password");
        } else {
            $(this).siblings("input").attr("type", "password");
            $(this).attr('data-password', 'false');
            $(this).removeClass("show-password");
        }
    });
    $("#show-input-password").change(function () {
        // Check if the checkbox is checked
        if ($(this).is(":checked")) {
            $("#Password").attr("required", "required");
            $("#parent-password").fadeIn(100);
        } else {
            $("#Password").val('');
            $("#Password").removeAttr("required");
            $("#parent-password").fadeOut(100);
        }
    });
</script>