@using IrigasiManganti.Helpers;

@{
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
    ViewData["Title"] = "Home";
}



@section styles {
    <link href="~/lib/c3/c3.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link href="~/lib/mapbox-gl/mapbox-gl.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.css" integrity="sha512-aiVWmB2G8oV+XfHo1CR6hEAxzCl48Lrl3UBzQ6P+BEMkT8qY1tGecdQx6x/X8i9cCVrwQU9ipsOsZlNkRh9n7w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/owl.carousel2/assets/owl.carousel.min.css">
    <link href="~/lib/owl.carousel2/assets/owl.theme.green.min.css">
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/animate.css/animate.compat.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap">
    <link href="~/lib/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">

    <style>
        * {
            font-family: 'Manrope',sans-serif;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            font-family: 'Manrope',sans-serif;
        }

        body {
            background-color: #1D2045;
            height: 100vh;
            margin: 0;
            padding-bottom: 15px;
        }

        .navbar-custom {
            background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%) !important;
            border-bottom: 3px solid #ffc800;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            height: 75px;
        }  

        /* You can also apply some styling to the HTML and the root element (if needed) */
        html {
            height: 100vh;
        }

        .full-height {
            height: 100%;
        }

        @@media (min-width: 1200px) {
            body[data-layout-mode=horizontal] .container-fluid {
                max-width: 99%;
            }
        }

        body[data-layout-mode=horizontal] .content-page {
            padding: 5px 15px 65px 15px;
            height: 100%;
        }

        @* Responsive Card *@
        @@media (min-width: 768px) {
            .col-left {
                padding-left: 7.5px;
                padding-right: 7.5px;
                @* padding-bottom: 7.5px; *@
                @* padding-top: 7.5px; *@
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 35%;
            }
            .col-center {
                padding-left: 7.5px;
                padding-right: 7.5px;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 65%;
            }
            .col-right {
                padding-left: 7.5px;
                padding-right: 7.5px;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: 26%;
            }
        }

        .col-left .card-header {
            padding: 0.5rem;
        }

        .col-left .card-body {
            padding: 0.5rem;
        }

        .col-right .card, .col-right .card-header {
            background-color: #161A3D;
            border-radius: 6px;
        }

        .nav-link {
            font-size: 0.8rem;
            padding: 0.5rem 0.6rem;
        }

        .nav-link .badge {
            font-size: 0.7rem;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            border-color: #2D3368;
        }

        .nav-tabs {
            border: none;
            padding-bottom: 0;
        }

        .nav-pills>li>a, .nav-tabs>li>a {
            font-weight: 500;
        }

        .nav-tabs>li>a, .nav-tabs>li>a {
            font-weight: 600;
        }

        .row-center-1 {
            height: 100%;
            padding-left: 7.5px;
            padding-right: 7.5px;
            padding-bottom: 0.5rem;
        }

        .row-center-2 {
            height: 8%;
            padding-left: 7.5px;
            padding-right: 7.5px;
        }

        .row-right-1 {
            height: 25%;
            padding-left: 7.5px;
            padding-right: 7.5px;
            padding-bottom: 0.5rem;
        }

        .row-right-2 {
            height: 75%;
            padding-left: 7.5px;
            padding-right: 7.5px;
        }

        .card {
            background-color: #252B5B;
            border-radius: 6px;
        }

        .card-header {
            background-color: #252B5B;
            border-bottom: 1px solid #293067;
        }

        .card-header:first-child {
            border-radius: 6px 6px 0 0;
        }

        .nav-justified .nav-item, .nav-justified>.nav-link {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            text-align: center;
            margin: 3px;
        }

        .nav-pills .nav-link {
            border-radius: 4px;
        }

        .nav-tabs .nav-link {
            border-top-radius: 4px;
            font-size: 0.7rem;
        }

        .navtab-bg {
            background-color: #1D2045;
        }

        .navtab-bg .nav-link {
            background-color: #fff;
            color: #A7AAC1;
        }

        .nav-tabs .nav-link {
            background-color: #1D2045;
            color: #A7AAC1;
            margin: 0;
        }

        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            color: #1D2045;
            background-color: #E9EAF0;
        }

        .nav-tabs .nav-link.active, .nav-tabs .show>.nav-link {
            color: #419CF9;
            background-color: #252B5B;
            border-color: #252B5B;
        }

        /* shimmer */
        .shine {
            background: rgb(246, 247, 248, 0.1);
            background-image: linear-gradient(to right, rgb(246, 247, 248, 0.1) 0%, rgb(237, 239, 241, 0.1) 20%, rgb(246, 247, 248, 0.1) 40%, rgb(246, 247, 248, 0.1) 100%);
            background-repeat: no-repeat;
            background-size: 800px 104px; 
            display: inline-block;
            position: relative; 
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: forwards; 
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: placeholderShimmer;
            -webkit-animation-timing-function: linear;
        }
        
        box {
            height: 5rem;
            width: 100%;
            border-radius: 6px;
        }

        .box-shine-1 {
            height: 0.7rem;
            width: 50%;
            border-radius: 6px;
            margin-top: 0.5rem;
        }

        .box-shine-2 {
            height: 0.7rem;
            width: 75%;
            border-radius: 6px;
        }

        .box-shine-3 {
            height: 0.7rem;
            width: 100%;
            border-radius: 6px;
        }
        
        @@-webkit-keyframes placeholderShimmer {
            0% {
                background-position: -468px 0;
            }
            
            100% {
                background-position: 468px 0; 
            }
        }
        /* shimmer */

        .card-station {
            background-color: #2F3567;
            color: #9295AD;
            border-radius: 0;
            margin-bottom: 0.25rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        }

        .card-station .card-header {
            background-color: #2F3567;
            border-bottom: 1px solid #293067;
            font-size: 1.2rem;
            padding: 0.4rem 1rem;
            border-radius: 0;
        }

        .card-station .card-body {
            padding: 0.7rem 1rem;
        }

        .card-station .card-footer {
            background-color: #2F3567;
            border-top: 1px solid #293067;
            font-size: 1.2rem;
            padding: 0.4rem 1rem;
            border-radius: 0;
        }

        .card-station h4 {
            color: #D3D4DE;
            font-size: 0.75rem;
        }

        .col-intensity img {
            height: 2.1rem;
        }

        .card-station .col-intensity h4 {
            font-size: 0.7rem;
            font-style: italic;
        }

        .reading-text {
            font-size: 0.7rem;
        }

        .reading-text h4 {
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }

        .reading-text .col-4 {
            font-size: 0.7rem;
        }

        .reading-at {
            font-size: 0.75rem;
            white-space: nowrap;
        }
        
        .reading-device {
            margin: 0;
            font-size: 0.7rem;
        }

        h4.text-status-normal {
            color: #4DC27E;
        }

        h4.text-status-siaga3 {
            color: #FFDA4F;
        }

        h4.text-status-siaga2 {
            color: #FFA600;
        }

        h4.text-status-siaga1 {
            color: #f16562;
        }

        .progress-meter {
            min-height: 6px;
        }

        .progress-meter > .meter {
            position: relative;
            float: left;
            min-height: 6px;
            border-width: 0px;
            border-style: solid;
            border-color: rgb(160, 160, 160);
        }

        .progress-meter > .meter:hover {
            cursor: pointer;
        }

        .progress-meter > .meter-normal {
            background-color: #4DC27E;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .progress-meter > .meter-waspada {
            background-color: #FFDA4F;
        }

        .progress-meter > .meter-siaga {
            background-color: #FFA600;
        }

        .progress-meter > .meter-awas {
            background-color: #EF5350;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .progress-meter > .meter-left {
            border-left-width: 1px;
        }

        .progress-meter > .meter > .meter-text {
            position: absolute;
            display: inline-block;
            bottom: -18px;
            width: 100%;
            font-weight: 600;
            font-size: 0.65em;
            color: rgb(160, 160, 160);
            text-align: left;
        }

        @@keyframes marquee {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        .monitoring-body {
            padding: 1rem 0.8rem;
        }

        a {
            outline: none;
        }

        .card-highlight {
            animation: blink 1.5s 2;
            transition: background-color 0.3s;
        }

        .blink-highlight {
            animation: anim-highlight 1.5s 2;
        }

        @@keyframes anim-highlight {
            0% { background-color: #2F3567; }
            50% { background-color: rgba(206,246,1, 0.3); }
            100% { background-color: #2F3567; }
        }

        .leaflet-interactive {
            outline-width: 0;
        }

        .track-order-list ul li:before {
            content: "";
            position: absolute;
            left: -7px;
            top: 0;
            height: 12px;
            width: 12px;
            background-color: #397FCF;
            border-radius: 50%;
            border: 3px solid #252B5B;
        }

        .ews-1d-list h4 {
            color: #D0D1D8;
            font-size: 0.9rem;
        }

        .ews-1d-list h5 {
            color: #9295AD;
            font-size: 0.8rem;
        }

        .ews-1d-list p {
            color: #9295AD;
            font-size: 0.8rem;
            font-weight: 400;
        }

    .text-muted {
        color: white !important;
    }

    /*#iframe-container { width: 600px; height: 0px; padding: 0; overflow: hidden; }
    #frame { width: 800px; height: 520px; border: 1px solid black; }
    #frame {
        -ms-zoom: 0.75; 
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }*/
    </style>
}

<div class="content h-100">
    <div class="container-fluid p-1 pt-2 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10"> <!-- Adjust the column width as needed -->
                <div class="card card-body m-0 p-0">
                    @* <div class="w-100" id="mapCihaur" style="height: 88vh;"></div> *@
                    <iframe id="figma-iframe" style="border: 1px solid rgba(0, 0, 0, 0.1);" height="1090" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2F73yi9QsD1m4kGd1L9uw9oe%2Fsiderja%3Fnode-id%3D52-142%26t%3DaTpa4VYyYzCu6DGb-1%26scaling%3Dmin-zoom%26content-scaling%3Dfixed%26page-id%3D0%253A1" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="~/lib/mapbox-gl/mapbox-gl.js"></script>
    <script src="~/lib/mapbox-gl-leaflet/leaflet-mapbox-gl.js"></script>
    <script src="~/assets/js/cihaur.js"></script>
    <script src="~/lib/leaflet-switch-basemap/src/main.eb127ecea7b7559c70ac.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.js" integrity="sha512-Tndo4y/YJooD/mGXS9D6F1YyBcSyrWnnSWQ5Z9IcKt6bljicjyka9qcP99qMFbQ5+omfOtwwIapv1DjBCZcTJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/owl.carousel2/owl.carousel.min.js"></script>
    <script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/blueimp-gallery/js/blueimp-gallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> *@
}