@{
    ViewData["Title"] = "Skema PCH Citarum";
}

@section styles {
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" type="text/css">
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />

    <style>
        #map { 
            height: 500px; 
        }
    </style>
}

@section customStyles {
    <style>
        .bg-light {
            background-color: #f3f7f9 !important;
        }
    </style>
}

<div class="content">
    <div class="container-fluid">
        <h1>Skema Sebaran Pos Curah Hujan</h1><br>
        <div id="map"></div><br><br>
        <div class="card mb-3">
            <div class="card-header" style="background: #0CC19A;">
                <h4 class="card-title mb-0 text-white"><i class="fa bi-cloud-rain-fill me-1"></i> POS CURAH HUJAN</h4>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-lg-6">
                        <div class="d-flex flex-wrap align-items-center dataTables_length">
                            <label for="status-select" class="me-2">Tampilkan</label>
                            <div class="me-2">
                                <select class="form-select form-select-sm rounded-pill my-1 my-lg-0" id="length-station-table">
                                    <option selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="-1">All</option>
                                </select>
                            </div>
                            <label for="status-select" class="me-3">data</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex flex-wrap align-items-center float-end">
                            <form class="search-bar form-inline me-3">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." id="search-station-table">
                                    <span class="mdi mdi-magnify"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-hover table-centered m-0 w-100" id="PchCitarum-table">
                        <thead class="bg-light">
                            <tr>
                                <th class="text-center" rowspan="2">No.</th>
                                <th class="text-center" rowspan="2">Nama Pos</th>
                                <th class="text-center" rowspan="2">Jenis</th>
                                <th class="text-center" rowspan="2">WS</th>
                                <th class="text-center" rowspan="2">DAS</th>
                                <th class="text-center" rowspan="2">Sungai</th>
                                <th class="text-center" colspan="3">Lokasi</th>
                                <th class="text-center" rowspan="2">Keterangan</th>
                            </tr>
                            <tr>
                                <th class="text-center">Desa</th>
                                <th class="text-center">Kec</th>
                                <th class="text-center">Kab</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/leaflet/AnimatedMarker.js"></script>
    <script src="~/lib/leaflet/lottie.js"></script>
    <script src="~/js/pages/schemaCitarum.min.js"></script>
}

@section additionalScripts {
    <script>
    /* 
        base map transparent */
    var map = L.map('map').setView([51.483, -0.090], 13);

    var standardLayer = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19
    }).addTo(map);

    /* end */

    /*
        green line
    */

    //start line primer laut jawa
    var linePrimer = L.polyline([
        [51.505, -0.01],
        [51.505, -0.160],
    ], { color: 'green' }).addTo(map);

    var middleLinePrimer = linePrimer.getCenter();

    var markerPrimer = L.marker(middleLinePrimer, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Laut Jawa',
            iconSize: [100, 40],
            iconAnchor: [50, 20]
        })
    }).addTo(map);
    //end line primer laut jawa

    /* end */

    /* 
        black line
    */

    //start line black citarum
    var lineBlackCitarum = L.polyline([
        [51.505, -0.115],
        [51.430, -0.115]
    ], { color: 'black' }).addTo(map);

    // var middleLineCitarum = lineBlackCitarum.getCenter();
    var middleLineCitarum = ([51.467536549774074, -0.114]);

    var markerCitarum = L.marker(middleLineCitarum, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Citarum',
            iconSize: [100, 40],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); color: red; font-weight: bold;">S.Citarum</div>'
        })
    }).addTo(map);
    //end line black citarum

    //start line black cilamaya
    var lineBlackCilamaya = L.polyline([
    [51.505, -0.090],
    [51.470, -0.090]
    ], { color: 'black' }).addTo(map);

    // var middleLineCilamaya = lineBlackCilamaya.getCenter();
    var middleLineCilamaya = ([51.492, -0.091]);

    var markerCilamaya = L.marker(middleLineCilamaya, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Cilamaya',
            iconSize: [100, 40],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); color: red; font-weight: bold;">S.Cilamaya</div>'
        })
    }).addTo(map);
    //end line black cilamaya

    //start line black ciasem
    var lineBlackCiasem = L.polyline([
    [51.505, -0.073],
    [51.470, -0.073]
    ], { color: 'black' }).addTo(map);

    // var middleLineCilamaya = lineBlackCilamaya.getCenter();
    var middleLineCiasem = ([51.496, -0.074]);

    var markerCiasem = L.marker(middleLineCiasem, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Ciasem',
            iconSize: [100, 40],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); color: red; font-weight: bold;">S.Ciasem</div>'
        })
    }).addTo(map);
    //end line black ciasem

    //start line black cipunagara
    var lineBlackCipunagara = L.polyline([
    [51.505, -0.055],
    [51.458, -0.055]
    ], { color: 'black' }).addTo(map);

    // var middleLineCilamaya = lineBlackCilamaya.getCenter();
    var middleLineCipunagara = ([51.475, -0.056]);

    var markerCipunagara = L.marker(middleLineCipunagara, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Cipunagara',
            iconSize: [100, 40],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); color: red; font-weight: bold;">S.Cipunagara</div>'
        })
    }).addTo(map);
    //end line black cipunagara

    //start line black cibodas
    var lineBlackCibodas = L.polyline([
    [51.505, -0.035],
    [51.480, -0.035]
    ], { color: 'black' }).addTo(map);

    var middleLineCibodas = ([51.495, -0.036]);

    var markerCibodas = L.marker(middleLineCibodas, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Cibodas',
            iconSize: [100, 40],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); color: red; font-weight: bold;">S.Cibodas</div>'
        })
    }).addTo(map);
    //end line black cibodas

    /* end */

    /* 
        grey line
    */

    //start line grey saluran tarum timur barat
    var lineGreyTarumBaratTimur = L.polyline([
        [51.490, -0.055],
        [51.490, -0.160]
    ], { color: 'grey' }).addTo(map);

    var middleLineTarumBaratTimur = ([ 51.490041408695205, -0.100]);

    var markerTarumBaratTimur = L.marker(middleLineTarumBaratTimur, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Saluran Tarum Timur',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="font-weight: bold; font-size: 9px;">Saluran Tarum Timur</div>'
        })
    }).addTo(map);

    var middleLineTarumBaratTimur2 = ([ 51.490041408695205, -0.140]);

    var markerTarumBaratTimur2 = L.marker(middleLineTarumBaratTimur2, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Saluran Tarum Barat',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="font-weight: bold; font-size: 9px;">Saluran Tarum Barat</div>'
        })
    }).addTo(map);
    //end line grey saluran tarum timur barat

    //start line grey saluran tarum utara
    var lineGreyTarumUtara = L.polyline([ 
        [51.495, -0.115],
        [51.500, -0.092]
    ], { color: 'grey' }).addTo(map);

    var middleLineTarumUtara = ([ 51.495469315770275, -0.101]);
    // var middleLineTarumUtara = lineGreyTarumUtara.getCenter();
    // console.log(middleLineTarumUtara);

    var markerTarumUtara = L.marker(middleLineTarumUtara, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Saluran Tarum Utara',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-19deg); font-weight: bold; font-size: 9px;">Saluran Tarum Utara</div>'
        })
    }).addTo(map);
    //end line grey saluran tarum utara

    /* end */

    /* 
        blue line
    */

    //start line blue bekasi
    var lineBlueBekasi = L.polyline([
        [51.503, -0.160],
        [51.500, -0.155],
        [51.480, -0.155]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueBekasi = ([ 51.480, -0.156]);

    var markerBlueBekasi = L.marker(middleLineBlueBekasi, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Bekasi',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-weight: bold; font-size: 9px; color: blue;">S.Bekasi</div>'
        })
    }).addTo(map);
    //end line blue bekasi

    //start line blue cikarang
    var lineBlueCikarang = L.polyline([
        [51.503, -0.145],
        [51.500, -0.140],
        [51.480, -0.140]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCikarang = ([ 51.480, -0.141]);

    var markerBlueCikarang = L.marker(middleLineBlueCikarang, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'S.Cikarang',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-weight: bold; font-size: 9px; color: blue;">S.Cikarang</div>'
        })
    }).addTo(map);
    //end line blue cikarang

    //start line blue cibeet
    var lineBlueCibeet = L.polyline([
        [51.500, -0.115],
        [51.498, -0.127],
        [51.480, -0.127]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCibeet = ([ 51.478, -0.125]);

    var markerBlueCibeet = L.marker(middleLineBlueCibeet, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cibeet',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-weight: bold; font-size: 9px;">Cibeet</div>'
        })
    }).addTo(map);
    //end line blue cibeet

    //start line blue cipamingkis
    var lineBlueCipamingkis = L.polyline([
        [51.485, -0.127],
        [51.480, -0.133],
        [51.470, -0.133]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCipamingkis = ([ 51.475, -0.134]);

    var markerBlueCipamingkis = L.marker(middleLineBlueCipamingkis, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cipamingkis',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-weight: bold; font-size: 9px;">Cipamingkis</div>'
        })
    }).addTo(map);
    //end line blue cipamingkis

    //start line blue cisokan
    var lineBlueCisokan = L.polyline([
        [51.483, -0.115],
        [51.480, -0.125]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCisokan = ([ 51.479, -0.115]);

    var markerBlueCisokan = L.marker(middleLineBlueCisokan, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cisokan',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-25deg); font-weight: bold; font-size: 9px;">Cisokan</div>'
        })
    }).addTo(map);
    //end line blue cisokan

    //start line blue sedari
    var lineBlueSedari = L.polyline([
        [51.505, -0.112],
        [51.500, -0.112]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueSedari = ([ 51.499, -0.113]);

    var markerBlueSedari = L.marker(middleLineBlueSedari, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Sedari',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 10px;">Sedari</div>'
        })
    }).addTo(map);
    //end line blue sedari

    //start line blue cisaga
    var lineBlueCisaga = L.polyline([
        [51.505, -0.109],
        [51.502, -0.109]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCisaga = ([ 51.501, -0.109]);

    var markerBlueCisaga = L.marker(middleLineBlueCisaga, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cisaga',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cisaga</div>'
        })
    }).addTo(map);
    //end line blue cisaga

    //start line blue cibabar dua
    var lineBlueCibabarDua = L.polyline([
        [51.505, -0.106],
        [51.498, -0.106]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCibabarDua = ([ 51.498, -0.107]);

    var markerBlueCibabarDua = L.marker(middleLineBlueCibabarDua, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cibabar Dua',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cibabar Dua</div>'
        })
    }).addTo(map);
    //end line blue cibabar dua

    //start line blue cibadak
    var lineBlueCibadak = L.polyline([
        [51.505, -0.103],
        [51.502, -0.103]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCibadak = ([ 51.502, -0.103]);

    var markerBlueCibadak = L.marker(middleLineBlueCibadak, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cibadak',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cibadak</div>'
        })
    }).addTo(map);
    //end line blue cibadak

    //start line blue cikarokok
    var lineBlueCikarokok = L.polyline([
        [51.505, -0.100],
        [51.499, -0.100]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCikarokok = ([ 51.498, -0.100]);

    var markerBlueCikarokok = L.marker(middleLineBlueCikarokok, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cikarokok',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cikarokok</div>'
        })
    }).addTo(map);
    //end line blue cikarokok

    //start line blue cibanteng
    var lineBlueCibanteng = L.polyline([
        [51.505, -0.097],
        [51.500, -0.097]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCibanteng = ([ 51.499, -0.097]);

    var markerBlueCibanteng = L.marker(middleLineBlueCibanteng, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cibanteng',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cibanteng</div>'
        })
    }).addTo(map);
    //end line blue cibanteng

    //start line blue cigemari
    var lineBlueCigemari = L.polyline([
        [51.505, -0.080],
        [51.500, -0.080]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCigemari = ([ 51.499, -0.080]);

    var markerBlueCigemari = L.marker(middleLineBlueCigemari, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cigemari',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cigemari</div>'
        })
    }).addTo(map);
    //end line blue cigemari

    //start line blue batang leutik
    var lineBlueBatangleutik = L.polyline([
        [51.505, -0.068],
        [51.498, -0.068]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueBatangleutik = ([ 51.497, -0.068]);

    var markerBlueBatangleutik = L.marker(middleLineBlueBatangleutik, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Batangleutik',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Batangleutik</div>'
        })
    }).addTo(map);
    //end line blue batang leutik

    //start line blue cireungit
    var lineBlueCireungit = L.polyline([
        [51.505, -0.065],
        [51.500, -0.065]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCireungit = ([ 51.499, -0.065]);

    var markerBlueCireungit = L.marker(middleLineBlueCireungit, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cireungit',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cireungit</div>'
        })
    }).addTo(map);
    //end line blue cireungit

    //start line blue cirandu
    var lineBlueCirandu = L.polyline([
        [51.505, -0.062],
        [51.499, -0.062]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCirandu = ([ 51.498, -0.062]);

    var markerBlueCirandu = L.marker(middleLineBlueCirandu, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cirandu',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cirandu</div>'
        })
    }).addTo(map);
    //end line blue cirandu

    //start line blue sewo
    var lineBlueSewo = L.polyline([
        [51.505, -0.050],
        [51.499, -0.050]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueSewo = ([ 51.498, -0.050]);

    var markerBlueSewo = L.marker(middleLineBlueSewo, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Sewo',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Sewo</div>'
        })
    }).addTo(map);
    //end line blue sewo

    //start line blue sukamaju
    var lineBlueSukamaju = L.polyline([
        [51.505, -0.046],
        [51.498, -0.046]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueSukamaju = ([ 51.497, -0.046]);

    var markerBlueSukamaju = L.marker(middleLineBlueSukamaju, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Sukamaju',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Sukamaju</div>'
        })
    }).addTo(map);
    //end line blue sukamaju

    //start line blue bugel
    var lineBlueBugel = L.polyline([
        [51.505, -0.042],
        [51.500, -0.042]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueBugel = ([ 51.499, -0.042]);

    var markerBlueBugel = L.marker(middleLineBlueBugel, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bugel',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Bugel</div>'
        })
    }).addTo(map);
    //end line blue bugel

    //start line blue cidongkol
    var lineBlueCidongkol = L.polyline([
        [51.505, -0.030],
        [51.500, -0.030]
    ], { color: 'blue' }).addTo(map);

    var middleLineBlueCidongkol = ([ 51.499, -0.030]);

    var markerBlueCidongkol = L.marker(middleLineBlueCidongkol, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cidongkol',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cidongkol</div>'
        })
    }).addTo(map);
    //end line blue cidongkol

    //start line blue curug cikao cilalawi
    var lineBlueCurugCikaoCilalawi = L.polyline([
        [51.489, -0.115],
        [51.487, -0.105],
        [51.488, -0.100]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCikao = ([ 51.486, -0.105]);

    var markerBlueCikao = L.marker(middleLineBlueCikao, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cikao',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(10deg); font-size: 9px;">Cikao</div>'
        })
    }).addTo(map);

    var middleLineBlueCilalawi = ([ 51.487, -0.096]);

    var markerBlueCilalawi = L.marker(middleLineBlueCilalawi, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cilalawi',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-15deg); font-size: 9px;">Cilalawi</div>'
        })
    }).addTo(map);
    //end line blue curug cikao cilalawi

    //start line blue cisomang
    var lineBlueCisomang = L.polyline([
        [51.486, -0.115],
        [51.484, -0.105],
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCisomang = ([ 51.483, -0.105]);

    var markerBlueCisomang = L.marker(middleLineBlueCisomang, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cisomang',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(15deg); font-size: 9px;">Cisomang</div>'
        })
    }).addTo(map);
    //end line blue cisomang

    //start line blue ciherang
    var lineBlueCiherang = L.polyline([
        [51.485, -0.090],
        [51.483, -0.098]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCiherang = ([ 51.483, -0.090]);

    var markerBlueCiherang = L.marker(middleLineBlueCiherang, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Ciherang',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-20deg); font-size: 9px;">Ciherang</div>'
        })
    }).addTo(map);
    //end line blue ciherang

    //start line blue cijengkol
    var lineBlueCijengkol = L.polyline([
        [51.495, -0.073],
        [51.493, -0.080],
        [51.485, -0.081]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCijengkol = ([ 51.485, -0.082]);

    var markerBlueCijengkol = L.marker(middleLineBlueCijengkol, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cijengkol',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cijengkol</div>'
        })
    }).addTo(map);
    //end line blue cijengkol

    //start line blue cibodas
    var lineBlueCibodas = L.polyline([
        [51.483, -0.073],
        [51.481, -0.085],
        [51.478, -0.085]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCibodas = ([ 51.478, -0.085]);

    var markerBlueCibodas = L.marker(middleLineBlueCibodas, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cibodas',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cibodas</div>'
        })
    }).addTo(map);
    //end line blue cibodas

    //start line blue cilamatan
    var lineBlueCilamatan = L.polyline([
        [51.489, -0.055],
        [51.488, -0.059],
        [51.484, -0.059]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCilamatan = ([ 51.483, -0.058]);

    var markerBlueCilamatan = L.marker(middleLineBlueCilamatan, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cilamatan',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cilamatan</div>'
        })
    }).addTo(map);
    //end line blue cilamatan

    //start line blue cileuleuy
    var lineBlueCileuleuy = L.polyline([
        [51.487, -0.059],
        [51.486, -0.062],
        [51.482, -0.062]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCileuleuy = ([ 51.487, -0.059]);

    var markerBlueCileuleuy = L.marker(middleLineBlueCileuleuy, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cileuleuy',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-25deg); font-size: 9px;">Cileuleuy</div>'
        })
    }).addTo(map);
    //end line blue cileuleuy

    //start line blue cibeber
    var lineBlueCibeber = L.polyline([
        [51.480, -0.055],
        [51.478, -0.045],
        [51.465, -0.045]
    ], {color: 'blue'}).addTo(map);
    //end line blue cibeber

    //start line blue cibeber2
    var lineBlueCibeber2 = L.polyline([
        [51.474, -0.045],
        [51.472, -0.050],
        [51.468, -0.050]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCibeber = ([ 51.468, -0.051]);

    var markerBlueCibeber = L.marker(middleLineBlueCibeber, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cibeber',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cibeber</div>'
        })
    }).addTo(map);
    //end line blue cibeber2

    //start line blue saguling
    var lineBlueSaguling = L.polyline([
        [51.480, -0.115],
        [51.478, -0.105],
        [51.475, -0.105]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueSaguling = ([ 51.480, -0.109]);

    var markerBlueSaguling = L.marker(middleLineBlueSaguling, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Saguling',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Saguling</div>'
        })
    }).addTo(map);

    var middleLineBlueCimeta = ([ 51.474, -0.104]);

    var markerBlueCimeta = L.marker(middleLineBlueCimeta, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cimeta',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(90deg); font-size: 9px;">Cimeta</div>'
        })
    }).addTo(map);
    //end line blue saguling

    //start line blue ciwidey
    var lineBlueCiwidey = L.polyline([
        [51.470, -0.115],
        [51.467, -0.135]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCiwidey = ([ 51.466, -0.125]);

    var markerBlueCiwidey = L.marker(middleLineBlueCiwidey, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Ciwidey',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-15deg); font-size: 9px;">Ciwidey</div>'
        })
    }).addTo(map);
    //end line blue ciwidey

    //start line blue cimahi
    var lineBlueCimahi = L.polyline([
        [51.465, -0.115],
        [51.462, -0.100]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCimahi = ([ 51.465, -0.106]);

    var markerBlueCimahi = L.marker(middleLineBlueCimahi, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cimahi',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Cimahi</div>'
        })
    }).addTo(map);
    //end line blue cimahi

    //start line blue ciburandul
    var lineBlueCiburandul = L.polyline([
        [51.463, -0.105],
        [51.460, -0.100]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCiburandul = ([ 51.460, -0.093]);
    // var middleLineBlueCiburandul = lineBlueCiburandul.getCenter();   

    var markerBlueCiburandul = L.marker(middleLineBlueCiburandul, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Ciburandul',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Ciburandul</div>'
        })
    }).addTo(map);
    //end line blue ciburandul

    //start line blue cisangkuy
    var lineBlueCisangkuy = L.polyline([
        [51.460, -0.115],
        [51.456, -0.145]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCisangkuy = ([ 51.456, -0.125]);

    var markerBlueCisangkuy = L.marker(middleLineBlueCisangkuy, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cisangkuy',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-15deg); font-size: 9px;">Cisangkuy</div>'
        })
    }).addTo(map);
    //end line blue cisangkuy

    //start line blue cikapundung
    var lineBlueCikapundung = L.polyline([
        [51.458, -0.115],
        [51.455, -0.095]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCikapundung = ([ 51.455, -0.089]);

    var markerBlueCikapundung = L.marker(middleLineBlueCikapundung, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cikapundung',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Cikapundung</div>'
        })
    }).addTo(map);
    //end line blue cikapundung

    //start line blue cidurian
    var lineBlueCidurian = L.polyline([
        [51.454, -0.115],
        [51.452, -0.100]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCidurian = ([ 51.450, -0.100]);

    var markerBlueCidurian = L.marker(middleLineBlueCidurian, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cidurian',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(15deg); font-size: 9px;">Cidurian</div>'
        })
    }).addTo(map);
    //end line blue cidurian

    //start line blue cikeruh
    var lineBlueCikeruh = L.polyline([
        [51.449, -0.115],
        [51.446, -0.095],
        [51.448, -0.087]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCikeruh = ([ 51.445, -0.098]);

    var markerBlueCikeruh = L.marker(middleLineBlueCikeruh, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cikeruh',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(10deg); font-size: 9px;">Cikeruh</div>'
        })
    }).addTo(map);
    //end line blue cikeruh

    //start line blue citarik
    var lineBlueCitarik = L.polyline([
        [51.445, -0.115],
        [51.442, -0.095]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCitarik = ([ 51.444, -0.106]);

    var markerBlueCitarik = L.marker(middleLineBlueCitarik, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Citarik',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(15deg); font-size: 9px;">Citarik</div>'
        })
    }).addTo(map);
    //end line blue citarik

    //start line blue cisarea
    var lineBlueCisarea = L.polyline([
        [51.442, -0.115],
        [51.440, -0.130]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCisarea = ([ 51.439, -0.130]);

    var markerBlueCisarea = L.marker(middleLineBlueCisarea, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cisarea',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Cisarea</div>'
        })
    }).addTo(map);
    //end line blue cisarea

    //start line blue cimande
    var lineBlueCimande = L.polyline([
        [51.442, -0.095],
        [51.446, -0.075]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCimande = ([ 51.446, -0.075]);

    var markerBlueCimande = L.marker(middleLineBlueCimande, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cimande',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(-15deg); font-size: 9px;">Cimande</div>'
        })
    }).addTo(map);
    //end line blue cimande

    //start line blue cinambo
    var lineBlueCinambo = L.polyline([
        [51.442, -0.095],
        [51.443, -0.075]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCinambo = ([ 51.443, -0.070]);

    var markerBlueCinambo = L.marker(middleLineBlueCinambo, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cinambo',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Cinambo</div>'
        })
    }).addTo(map);
    //end line blue cinambo

    //start line blue ciburaleng
    var lineBlueCiburaleng = L.polyline([
        [51.442, -0.095],
        [51.440, -0.075]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCiburaleng = ([ 51.440, -0.070]);

    var markerBlueCiburaleng = L.marker(middleLineBlueCiburaleng, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Ciburaleng',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Ciburaleng</div>'
        })
    }).addTo(map);
    //end line blue ciburaleng

    //start line blue cijalupang
    var lineBlueCijalupang = L.polyline([
        [51.442, -0.095],
        [51.437, -0.075]
    ], {color: 'blue'}).addTo(map);

    var middleLineBlueCijalupang = ([ 51.438, -0.087]);

    var markerBlueCijalupang = L.marker(middleLineBlueCijalupang, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cijalupang',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(25deg); font-size: 9px;">Cijalupang</div>'
        })
    }).addTo(map);
    //end line blue cijalupang

    /* end */

    /* 
        start polygon triagle green
    */

    //start jatiluhur
    var jatiluhur = L.polygon([
        [51.488, -0.116],
        [51.488, -0.114],
        [51.487, -0.115]
    ], { color: 'green' }).addTo(map);

    var middleLineJatiluhur = ([ 51.486, -0.110]);

    var markerJatiluhur = L.marker(middleLineJatiluhur, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Jatiluhur',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Jatiluhur</div>'
        })
    }).addTo(map);
    //end jatiluhur

    //start cirata
    var cirata = L.polygon([
        [51.485, -0.116],
        [51.485, -0.114],
        [51.484, -0.115]
    ], { color: 'green' }).addTo(map);

    var middleLineCirata = ([ 51.483, -0.110]);

    var markerCirata = L.marker(middleLineCirata, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Cirata',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Cirata</div>'
        })
    }).addTo(map);
    //end cirata

    //start saguling
    var saguling = L.polygon([
        [51.481, -0.116],
        [51.481, -0.114],
        [51.480, -0.115]
    ], { color: 'green' }).addTo(map);
    //end saguling

    //start cipancuh
    var cipancuh = L.polygon([
        [51.491, -0.036],
        [51.491, -0.034],
        [51.490, -0.035]
    ], { color: 'green' }).addTo(map);

    var middleLineCipancuh = ([ 51.489, -0.035]);

    var markerCipancuh = L.marker(middleLineCipancuh, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bendungan Cipancuh',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bendungan<br>Cipancuh</div>'
        })
    }).addTo(map);
    //end cipancuh

    //start cipanunjang
    var cipanunjang = L.polygon([
        [51.457, -0.145],
        [51.455, -0.144],
        [51.457, -0.142],
        
    ], { color: 'green' }).addTo(map);

    var middleLineCipanunjang = ([ 51.454, -0.145]);

    var markerCipanunjang = L.marker(middleLineCipanunjang, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bendungan Cipanunjang',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bendungan<br>Cipanunjang</div>'
        })
    }).addTo(map);
    //end cipanunjang

    //start cileunca
    var cileunca = L.polygon([
        [51.458, -0.138],
        [51.456, -0.137],
        [51.457, -0.135],
        
    ], { color: 'green' }).addTo(map);

    var middleLineCileunca = ([ 51.459, -0.133]);

    var markerCileunca = L.marker(middleLineCileunca, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bendungan Cileunca',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bendungan<br>Cileunca</div>'
        })
    }).addTo(map);
    //end cileunca

    /* end */

    /* 
        start line bendungan green
    */

    //start bd bekasi
    var bdBekasi1 = L.polyline([
        [51.495, -0.158],
        [51.494, -0.156],
        [51.494, -0.154],
        [51.495, -0.152]
    ], {color: 'green'}).addTo(map);

    var bdBekasi2 = L.polyline([
        [51.491, -0.158],
        [51.492, -0.156],
        [51.492, -0.154],
        [51.491, -0.152]
    ], {color: 'green'}).addTo(map);

    var middleLinebdBekasi = ([ 51.495, -0.157]);

    var markerbdBekasi = L.marker(middleLinebdBekasi, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Bekasi',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Bekasi</div>'
        })
    }).addTo(map);
    //end bd bekasi

    //start bd shiponBekasi
    var bdshiponBekasi1 = L.polyline([
        [51.491, -0.158],
        [51.490, -0.156],
        [51.490, -0.154],
        [51.491, -0.152]
    ], {color: 'red'}).addTo(map);

    var bdshiponBekasi2 = L.polyline([
        [51.487, -0.158],
        [51.488, -0.156],
        [51.488, -0.154],
        [51.487, -0.152]
    ], {color: 'red'}).addTo(map);

    var middleLineSiphonBekasi = ([ 51.486, -0.160]);

    var markerSiphonBekasi = L.marker(middleLineSiphonBekasi, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Siphon Bekasi',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Siphon Bekasi</div>'
        })
    }).addTo(map);
    //end bd shiponBekasi

    //start bd cikarang
    var bdcikarang1 = L.polyline([
        [51.492, -0.143],
        [51.491, -0.141],
        [51.491, -0.139],
        [51.492, -0.137]
    ], {color: 'green'}).addTo(map);

    var bdcikarang2 = L.polyline([
        [51.488, -0.143],
        [51.489, -0.141],
        [51.489, -0.139],
        [51.488, -0.137]
    ], {color: 'green'}).addTo(map);

    var middleLinebdCikarang = ([ 51.487, -0.132]);

    var markerbdCikarang = L.marker(middleLinebdCikarang, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Cikarang',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Cikarang</div>'
        })
    }).addTo(map);
    //end bd cikarang

    //start bd siphonCibeet
    var bdsiphonCibeet1 = L.polyline([
        [51.491, -0.130],
        [51.490, -0.128],
        [51.490, -0.126],
        [51.491, -0.124]
    ], {color: 'red'}).addTo(map);

    var bdsiphonCibeet2 = L.polyline([
        [51.489, -0.130],
        [51.490, -0.128],
        [51.490, -0.126],
        [51.489, -0.124]
    ], {color: 'red'}).addTo(map);

    var middleLineSiphonCibeet = ([ 51.491, -0.125]);

    var markerSiphonCibeet = L.marker(middleLineSiphonCibeet, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Siphon Cibeet',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Siphon Cibeet</div>'
        })
    }).addTo(map);
    //end bd siphonCibeet

    //start bd Cibeet
    var bdCibeet1 = L.polyline([
        [51.489, -0.130],
        [51.488, -0.128],
        [51.488, -0.126],
        [51.489, -0.124]
    ], {color: 'green'}).addTo(map);

    var bdCibeet2 = L.polyline([
        [51.487, -0.130],
        [51.488, -0.128],
        [51.488, -0.126],
        [51.487, -0.124]
    ], {color: 'green'}).addTo(map);

    var middleLinebdCibeet = ([ 51.487, -0.119]);

    var markerbdCibeet = L.marker(middleLinebdCibeet, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Cibeet',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Cibeet</div>'
        })
    }).addTo(map);
    //end bd Cibeet

    //start bd Curug
    var bdCurug1 = L.polyline([
        [51.491, -0.118],
        [51.490, -0.116],
        [51.490, -0.114],
        [51.491, -0.112]
    ], {color: 'green'}).addTo(map);

    var bdCurug2 = L.polyline([
        [51.489, -0.118],
        [51.490, -0.116],
        [51.490, -0.114],
        [51.489, -0.112]
    ], {color: 'green'}).addTo(map);

    var middleLinebdCurug = ([ 51.491, -0.115]);

    var markerbdCurug = L.marker(middleLinebdCurug, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Curug',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Curug</div>'
        })
    }).addTo(map);
    //end bd Curug

    //start bd Walahar
    var bdWalahar1 = L.polyline([
        [51.496, -0.118],
        [51.495, -0.116],
        [51.495, -0.114],
        [51.496, -0.112]
    ], {color: 'green'}).addTo(map);

    var bdWalahar2 = L.polyline([
        [51.494, -0.118],
        [51.495, -0.116],
        [51.495, -0.114],
        [51.494, -0.112]
    ], {color: 'green'}).addTo(map);

    var middleLinebdWalahar = ([ 51.496, -0.116]);

    var markerbdWalahar = L.marker(middleLinebdWalahar, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Walahar',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Walahar</div>'
        })
    }).addTo(map);
    //end bd Walahar

    //start bd Cipangmingkis
    var bdCipangmingkis1 = L.polyline([
        [51.473, -0.136],
        [51.472, -0.134],
        [51.472, -0.132],
        [51.473, -0.130]
    ], {color: 'green'}).addTo(map);

    var bdCipangmingkis2 = L.polyline([
        [51.471, -0.136],
        [51.472, -0.134],
        [51.472, -0.132],
        [51.471, -0.130]
    ], {color: 'green'}).addTo(map);

    var middleLinebdCipamingkis = ([ 51.470, -0.138]);

    var markerbdCipamingkis = L.marker(middleLinebdCipamingkis, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Cipamingkis',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Cipamingkis</div>'
        })
    }).addTo(map);
    //end bd Cipangmingkis

    //start bd Cihea
    var bdCihea1 = L.polyline([
        [51.478, -0.108],
        [51.477, -0.106],
        [51.477, -0.104],
        [51.478, -0.102]
    ], {color: 'green'}).addTo(map);

    var bdCihea2 = L.polyline([
        [51.476, -0.108],
        [51.477, -0.106],
        [51.477, -0.104],
        [51.476, -0.102]
    ], {color: 'green'}).addTo(map);

    var middleLinebdCihea = ([ 51.476, -0.097]);

    var markerbdCihea = L.marker(middleLinebdCihea, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Cihea',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Cihea</div>'
        })
    }).addTo(map);
    //end bd Cihea

    //start bd Macan
    var bdMacan1 = L.polyline([
        [51.490, -0.076],
        [51.489, -0.074],
        [51.489, -0.072],
        [51.490, -0.070]
    ], {color: 'green'}).addTo(map);

    var bdMacan2 = L.polyline([
        [51.488, -0.076],
        [51.489, -0.074],
        [51.489, -0.072],
        [51.488, -0.070]
    ], {color: 'green'}).addTo(map);

    var middleLinebdMacan = ([ 51.488, -0.066]);

    var markerbdMacan = L.marker(middleLinebdMacan, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Macan',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Macan</div>'
        })
    }).addTo(map);
    //end bd Macan

    //start bd Salamdarma
    var bdSalamdarma1 = L.polyline([
        [51.491, -0.058],
        [51.490, -0.056],
        [51.490, -0.054],
        [51.491, -0.052]
    ], {color: 'green'}).addTo(map);

    var bdSalamdarma2 = L.polyline([
        [51.489, -0.058],
        [51.490, -0.056],
        [51.490, -0.054],
        [51.489, -0.052]
    ], {color: 'green'}).addTo(map);

    var middleLinebdSalamdarma = ([ 51.491, -0.047]);

    var markerbdSalamdarma = L.marker(middleLinebdSalamdarma, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Salamdarma',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Salamdarma</div>'
        })
    }).addTo(map);
    //end bd Salamdarma

    //start bd Cileuleuy
    var bdCileuleuy1 = L.polyline([
        [51.486, -0.065],
        [51.485, -0.063],
        [51.485, -0.061],
        [51.486, -0.059]
    ], {color: 'green'}).addTo(map);

    var bdCileuleuy2 = L.polyline([
        [51.484, -0.065],
        [51.485, -0.063],
        [51.485, -0.061],
        [51.484, -0.059]
    ], {color: 'green'}).addTo(map);

    var middleLinebdCileuleuy = ([ 51.483, -0.066]);

    var markerbdCileuleuy = L.marker(middleLinebdCileuleuy, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Cileuleuy',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Cileuleuy</div>'
        })
    }).addTo(map);
    //end bd Cileuleuy

    //start bd Leuwinangka
    var bdLeuwinangka1 = L.polyline([
        [51.481, -0.076],
        [51.480, -0.074],
        [51.480, -0.072],
        [51.481, -0.070]
    ], {color: 'green'}).addTo(map);

    var bdLeuwinangka2 = L.polyline([
        [51.479, -0.076],
        [51.480, -0.074],
        [51.480, -0.072],
        [51.479, -0.070]
    ], {color: 'green'}).addTo(map);

    var middleLinebdLeuwinangka = ([ 51.478, -0.065]);

    var markerbdLeuwinangka = L.marker(middleLinebdLeuwinangka, {
        icon: L.divIcon({
            className: 'text-label',
            html: 'Bd Leuwinangka',
            iconSize: [90, 30],
            iconAnchor: [50, 20],
            html: '<div style="transform: rotate(0deg); font-size: 9px;">Bd Leuwinangka</div>'
        })
    }).addTo(map);
    //end bd Leuwinangka

    /* end */
    standardLayer.setOpacity(0);

    var circlePch = getDataSebaranPch();

    circlePch.then(results => {
        results.forEach(r => {
            var circle = L.circle([r.lat, r.longt], {
                color: r.warna,
                fillColor: r.warna,
                fillOpacity: r.opacity,
                radius: r.radius
            }).addTo(map);

            var textIcon = L.divIcon({
                className: 'custom-div-icon',
                html: `<div style="text-align: center; font-weight: bold; font-size: 11px;">${r.nama}</div>`,
                iconSize: [120, 40]
            });
            
            var textMarker = L.marker([r.lat, r.longt_], { icon: textIcon }).addTo(map);
            textMarker.bindPopup(`<b>${r.lat}</b><br>${r.longt_}`);
        });
    }).catch(error => {
        console.error(error);
    });
    
    async function getDataSebaranPch() {
        try {
            const response = await fetch('/Schema/GetSkemaSebaranPch'); // Replace with the actual route
            if (response.ok) {
                const skemaSebaranPch = await response.json();
                return skemaSebaranPch;
            } else {
                // Handle non-ok response (e.g., 404, 500)
                console.error(`Error: ${response.status} - ${response.statusText}`);
            }
        } catch (error) {
            // Handle network or other errors
            console.error('Error:', error);
        }
    }
    </script>
}