@using IrigasiManganti.Helpers;

@{
    Layout = "~/Views/Shared/_LayoutNavbarOnly.cshtml";
    ViewData["Title"] = "Saluran Irigasi Sidareja";
}

@section styles {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap">
    <link href="~/lib/leaflet/leaflet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.css" integrity="sha512-aiVWmB2G8oV+XfHo1CR6hEAxzCl48Lrl3UBzQ6P+BEMkT8qY1tGecdQx6x/X8i9cCVrwQU9ipsOsZlNkRh9n7w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
}

@section customStyles {
    <style>
        * {
            font-family: 'Manrope', sans-serif;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Manrope', sans-serif;
        }

        .box-legend {
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 2px;
            margin-right: 0.4rem;
        }

        #map {
            height: 600px;
            border-radius: 5px;
            position: relative;
            outline: none;
            z-index: 1 !important;
            background: white;
        }

        .legend>div {
            background-color: #fff !important;
        }

        .info-box {
            background-color: white;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-family: Arial, sans-serif;
        }
        .info-box table {
            width: 100%;
            border-collapse: collapse;
        }
        .info-box th {
            background-color: #f0f0f0;
            padding: 5px;
            text-align: left;
        }
        .info-box td {
            padding: 5px;
        }

        .panah-aliran {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
        }

        .transparent-tooltip {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
            @* padding: 0; *@
        }

        .bs-title {
            font-family: 'Manrope', sans-serif;
            font-size: 10px;
            font-weight: bold;
            color: #000;
        }

        .bangunan-sadap-title {
            background-color: transparent;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
            font-family: 'Manrope', sans-serif;
            font-size: 7px;
            font-weight: 600;
            color: #000;
        }

        .box-petak {
            font-family: 'Manrope', sans-serif;
            font-size: 8px;
            color: #000;
        }

        .box-petak table {
            width: 100%;
            border-collapse: collapse;
        }
        
        .box-petak th, .box-petak td {
            padding-left: 5px;
            padding-right: 5px;
            border: 1px solid #000;
        }

        .golongan-a th, .golongan-a td {
            border: 1.5px solid #1abc9c;
        }

        .golongan-b th, .golongan-b td {
            border: 1.5px solid blue;
        }

        .golongan-c th, .golongan-c td {
            border: 1.5px solid purple;
        }

        .leaflet-tooltip-left {
            padding: 0;
        }

        .leaflet-tooltip-left:before {
            display: none;
            margin: 0;
        }

        .leaflet-tooltip-right {
            padding: 0;
        }

        .leaflet-tooltip-right:before {
            display: none;
            margin: 0;
        }

        .leaflet-tooltip-top {
            padding: 0;
        }

        .leaflet-tooltip-top:before {
            display: none;
            margin: 0;
        }

        .leaflet-tooltip-bottom {
            padding: 0;
        }

        .leaflet-tooltip-bottom:before {
            display: none;
            margin: 0;
        }

        .arrow {
            animation: dash 1s linear infinite;
        }
        @@keyframes dash {
            to {
                stroke-dashoffset: 1000;
            }
        }

        #table-legenda td {
            color: #222;
            font-size: 12px;
        }

        .text-sumber-aliran {
            font-size: 11px;
            white-space: nowrap;
            color: #222;
            font-weight: bold;
        }

        .text-saluran-sekunder {
            font-size: 10px;
            white-space: nowrap;
            color: #222;
            font-weight: 500;
        }

        .btn-circle {
            background-color: rgba(255, 255, 255, 0.2);
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }

        .form-control[readonly] {
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff;
            border-color: rgb(255, 255, 255, .2);
            box-shadow: none;
        }

        .btn-prev-next {
            box-shadow: rgba(3, 18, 26, 0.15) 0px 2px 5px;
            background-color: rgba(255, 255, 255, 0.2);
            border: 0px solid black;
        }
    </style>
}

<div class="content">
    <div class="container-fluid">
        @if (!string.IsNullOrEmpty(ClaimIdentity.Username))
        {
            <div class="mb-4"></div>
        }

        <div class="row mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" style="background: rgb(2, 100, 200);">
                        <h4 class="card-title mb-0 text-white">SALURAN IRIGASI SIDAREJA</h4>
                        <div class="d-flex flex-row align-items-center">
                            <div class="input-group">
                                <button class="input-group-text text-white btn-prev-next" id="btn-prev">
                                    <i class="mdi mdi-chevron-left font-16"></i>
                                </button>
                                <input type="text" class="form-control text-center" placeholder="" id="filter-date" readonly="readonly">
                                <button class="input-group-text text-white btn-prev-next" id="btn-next">
                                    <i class="mdi mdi-chevron-right font-16"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="w-100" id="map"></div>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.4.0/easy-button.min.js" integrity="sha512-Tndo4y/YJooD/mGXS9D6F1YyBcSyrWnnSWQ5Z9IcKt6bljicjyka9qcP99qMFbQ5+omfOtwwIapv1DjBCZcTJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/id.js"></script>
}

@section additionalScripts {
    <script>
        const mapLatitude = "";
        const mapLongitude = "";
        const mapZoom = "";

        $(document).ready(function() {
            
        });
    </script>

    @{
        long currTimestamp = DateTime.Now.Ticks;
    }


    <script src="~/js/schemas/sidareja.min.js?v=@currTimestamp"></script>
}